<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>

    {% for color in colors %}
      <p>{{ color }}</p>
    {% endfor %}

    {% for color in colorsDict %}
      {% if color.active %}
      <div style="background-color:{{ color.en }}">
        {{ color.fr }}
      </div>
      {% else %}
        <section>Couleur inactive...</section>
      {% endif %}
    {% endfor %}

    <script>
      console.log('JS ok');
    </script>
  </body>
</html>
